.about {
  margin: 3rem 6rem 0 6rem;
  padding-bottom: 10rem;
  &-hero {
    display: flex;
    justify-content: space-between;
    padding-bottom: 5rem;

    &-intro {
      width: 50%;

      .about-text {
        margin: 3rem;

        @include xl {
          margin: 1rem;
        }
      }
      @include md {
        width: 100%;
      }
    }

    &-photo {
      padding-top: 5rem;
      padding-right: 3rem;
      object-fit: cover;

      @include xl {
        width: 60%;
        padding-right: 2rem;
      }

      @include lg {
        width: 50%;
        padding-right: 1rem;
      }
      @include md {
        width: 100%;
      }
    }
    @include md {
      display: flex;
      flex-direction: column;
    }
  }

  &-experience {
    padding-top: 5rem;
    display: block;

    &-info {
      margin-top: 2rem;
      border-top: 1px solid white;
      display: flex;
      justify-content: space-between;

      .experience-text {
        padding-top: 2rem;

        @include md {
          padding-top: 1rem;
        }
      }
      @include md {
        display: block;
      }
    }
  }
  @include sm {
    margin: 3rem 3rem 0 3rem;
  }
}
