.contact {
  padding-top: 5rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  &-social {
    display: flex;
    flex-direction: column;

    &-element {
      padding-top: 2rem;
      padding-bottom: 2rem;
    }
  }
}
