@import "./variables.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-y: scroll;
  cursor: none;
}

body {
  //background-color: #1c1c1c;
  background-color: black;
}

*::-webkit-scrollbar {
  display: none;
}

.navbar-text {
  font-family: "ClashDisplay-Regular";
  font-size: 1rem;
  display: block;
  text-decoration: none;
  color: white;
  @include sm {
    font-size: 1.5rem;
  }
}

.big-text-banner {
  font-family: "ClashDisplay-Semibold";
  font-size: 3rem;
  display: block;
  color: #ed635d;

  @include lg {
    font-size: 2rem;
  }
  @include sm {
    font-size: 1.2rem;
  }
}

.text-banner {
  font-family: "ClashDisplay-Semibold";
  font-size: 1.2rem;
  display: block;
  color: #ed635d;

  @include lg {
    font-size: 1rem;
  }
  @include sm {
    font-size: 0.8rem;
  }
}

.big-text-contact {
  font-family: "ClashDisplay-Semibold";
  font-size: 9rem;
  display: block;
  color: #ed635d;

  @include xl {
    font-size: 7rem;
  }
  @include lg {
    font-size: 6rem;
  }

  @include md {
    font-size: 4rem;
  }
}

.social-text {
  font-family: "ClashDisplay-Medium";
  font-size: 2.5rem;
  display: block;
  color: white;
  text-decoration: underline;

  @include xl {
    font-size: 2rem;
  }

  @include md {
    font-size: 1.5rem;
  }
}

.about-text {
  font-family: "Poppins-Regular";
  font-size: 1rem;
  color: white;

  @include lg {
    font-size: 0.8rem;
  }
}

.subtitle-text {
  font-family: "ClashDisplay-Medium";
  font-size: 6rem;
  display: block;
  color: #ed635d;

  @include xl {
    font-size: 5rem;
  }

  @include lg {
    font-size: 3rem;
  }
  @include sm {
    font-size: 2rem;
  }
}

.experience-text {
  font-family: "ClashDisplay-Medium";
  font-size: 1.5rem;
  display: block;
  color: white;

  @include xl {
    font-size: 1.3rem;
  }

  @include lg {
    font-size: 1rem;
  }
}
