@font-face {
  font-family: "ClashDisplay-Regular";
  src: local("ClashDisplay-Regular"),
    url("./fonts/ClashDisplay-Regular.otf") format("truetype");
}

@font-face {
  font-family: "ClashDisplay-Medium";
  src: local("ClashDisplay-Medium"),
    url("./fonts/ClashDisplay-Medium.otf") format("truetype");
}

@font-face {
  font-family: "ClashDisplay-Semibold";
  src: local("ClashDisplay-Semibold"),
    url("./fonts/ClashDisplay-Semibold.otf") format("truetype");
}

@font-face {
  font-family: "Poppins-Regular";
  src: local("Poppins-Regular"),
    url("./fonts/Poppins-Regular.ttf") format("truetype");
}
