.cardproject {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 1rem;
  padding-bottom: 5rem;

 
    &-img{
    width: 100vh;
    transition-duration: 0.5s;
    @include md {
      width: 80%;
    }
    @include sm {
      width: 100%;
    }
  }
  
  
  &-img:hover {
    width: 110vh;
    transition-duration: 0.5s;

    @include md {
      width: 90%;
    }
    @include sm {
      width: 100%;
    }
  }
  &-body {
    width: 40%;
    padding-left: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    @include md {
      width: 50%;
      display: flex;
      flex-direction: column;
    }
  }

  @include md {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}
